* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --main-color: #ff702a;
  --text-color: #fff;
  --bg-color: #1e1c2a;

  --big-font: 5rem;
  --h2-font: 2.25rem;
  --p-font: 0.9rem;
}

*::selection {
  background-color: var(--main-color);
  color: var(--text-color);
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 150px;
  background-color: var(--bg-color);
}

.logo {
  color: var(--main-color);
  font-weight: 600;
  font-size: 2.4rem;
}

.navbar__list {
  display: flex;
}

.navbar__link {
  color: var(--text-color);
  padding: 10px 20px;
  font-weight: 500;
}
.navbar__link:hover {
  color: var(--main-color);
  transition: 0.4s;
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

section {
  padding: 70px 17%;
}

/* Home start */

#home {
  width: 100%;
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  align-items: center;
}

#home__img {
  max-width: 100%;
  width: 600px;
  height: auto;
}

.home__text__h1 {
  font-size: var(--big-font);
  color: var(--main-color);
}

.home__text__h2 {
  font-size: var(--h2-font);
  margin: 1rem 0 2rem;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: var(--text-color);
  border-radius: 0.5rem;
}

.btn:hover {
  transform: scale(1.2) translateY(10px);
  transition: 0.4s;
}

/* About */

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  align-items: center;
}

.about__wrapper-image__image {
  max-width: 100%;
  width: 480px;
  height: auto;
}

.about__text__span {
  color: var(--text-color);
  font-weight: 600;
}

.about__text__h2 {
  font-size: var(--h2-font);
}

.about__text__p {
  margin: 0.8rem 0 1.8rem;
  line-height: 1.7;
}

/* Food menu */

.food-menu__heading {
  text-align: center;
}

.food-menu__heading__span {
  color: var(--main-color);
  font-weight: 600;
}

.food-menu__heading__h2 {
  font-size: var(--h2-font);
}

.food-menu__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  align-items: center;
}

.food-menu__container__box {
  position: relative;
  margin-top: 4rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #feeee7;
  padding: 20px;
  border-radius: 0.5rem;
}

.food-menu__container__box__image-wrapper {
  width: 230px;
  height: 230px;
}

.food-menu__container__box__image-wrapper__img {
  width: 100%;
  height: 100%;
}

.food-menu__container__box__h2 {
  font-size: 1.3rem;
  color: var(--bg-color);
}

.food-menu__container__box__h3 {
  color: var(--bg-color);
  font-weight: 400;
  font-size: 1rem;
  margin: 4px 0 10px;
}

.food-menu__container__box__price {
  font-size: var(--p-font);
  color: var(--main-color);
  font-weight: 600;
}

.bx-cart-alt {
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  padding: 7px 10px;
  border-radius: 0 0.5rem 0 0.5rem;
}

/* Service */

.service__heading {
  text-align: center;
}

.service__heading__span {
  color: var(--main-color);
  font-weight: 600;
}

.service__heading__h2 {
  font-size: var(--h2-font);
}

.service__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  grid-gap: 1.5rem;
  margin-top: 4rem;
}

.service__container__box {
  text-align: center;
  padding: 20px 30px;
}

.service__container__box__img {
  width: 90px;
}

.service__container__box__title {
  margin: 4px 0 10px;
  color: var(--main-color);
  font-size: 1.2rem;
}

.service__container__box__text {
  line-height: 1.7;
}

/* Call to action */

.call-to-action {
  background-color: #feeee7;
  padding: 70px;
  width: 66%;
  margin: 100px auto;
  text-align: center;
  border-radius: 10px;
}

.class-to-action__heading {
  font-size: 2rem;
  color: var(--bg-color);
  margin-bottom: 30px;
}

/* Footer */

.footer__main {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  padding: 10px 0;
}

.col {
  width: 25%;
}

.col__heading {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 1.5rem;
  position: relative;
}

.col__heading::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  left: 0;
  bottom: -8px;
  background-color: var(--main-color);
}

.footer__list li:not(last-child) {
  margin-bottom: 1rem;
}

.col a {
  color: #9897a9;
  font-size: 1rem;
  display: block;
  text-transform: capitalize;
  transition: 0.4s;
}

.col a:hover {
  color: var(--text-color);
  transform: translateX(-12px);
}

.social__links {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__links a {
  height: 40px;
  width: 40px;
  background-color: var(--main-color);
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: 0.4s;
}

.social__links a:hover {
  transform: scale(1.2);
  color: var(--bg-color);
  background-color: var(--text-color);
}

@media (max-width: 1560px) {
  header {
    padding: 15px 40px;
  }

  :root {
    --big-font: 3.5rem;
    --h2-font: 2rem;
  }
}

@media (max-width: 1140px) {
  section {
    padding: 50px 8%;
  }
  #menu-icon {
    display: initial;
    color: var(--text-color);
  }

  .navbar {
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    transition: 0.3s;
  }
  .navbar__list {
    flex-direction: column;
    text-align: center;
    background-color: #2b2640;
  }

  .navbar.active {
    top: 70px;
  }

  .navbar__link {
    padding: 1.5rem;
    display: block;
  }

  .col {
    width: 50%;
    margin-bottom: 10px;
  }
}

@media (max-width: 720px) {
  header {
    padding: 10px 1rem;
  }
  #home {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about__wrapper-image {
    order: 2;
  }
  section {
    padding: 100px 7%;
  }
}

@media (max-width: 575px) {
  .col {
    width: 100%;
  }
}
